body {
  margin: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.landing-page {
  display: flex;
  margin-top: 120px;
  margin-bottom: 180px;
}
.left-container {
  width: 50%;
  margin-left: 200px;
  margin-right: 50px;
  padding-right: 100px;
}
.head-txt {
  border-left: 5px solid orange;
  border-radius: 5px;
  font-family: "Yeseva One", cursive;
  font-size: 40px;
  padding-left: 20px;
}

#mission-txt {
  margin-bottom: 20px;
}
#mission-txt2 {
  color: rgb(253, 104, 77);
  margin-top: 0px;
}
.mission-box-title {
  font-family: "Baloo Bhai 2", cursive;
  margin-top: 0px;
  margin-bottom: 0px;
}
#about {
  margin-bottom: 40px;
  padding-right: 50px;
}
#button {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  padding: 8px 35px;
  font-size: 20px;
  margin-bottom: 40px;
  background-color: rgb(248, 176, 43);
  font-family: "Baloo Bhai 2", cursive;
}
#button:hover {
  /* background-color: rgb(202, 134, 8); */
  background-image: linear-gradient(rgb(255, 166, 2), rgb(119, 117, 117));
  color: white;
  font-family: "Baloo Bhai 2", cursive;
  padding: 8px 35px;
  font-size: 20px;
}
.left-container div p {
  margin-top: 60px;
}
.right-container {
  width: 50%;
}
.mission {
  text-align: center;
  margin-bottom: 150px;
}
.mission-title {
  font-family: "Teko", sans-serif;
  font-size: 60px;
  margin-bottom: 5px;
}
.mission span {
  color: tomato;
}
.mission-deatls {
  display: flex;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0px 30px 0px 30px;
}
.mission-deatls-1 {
  text-align: left;
  background-color: rgb(206, 226, 215);
  border-radius: 15px;
  margin: 30px;
  padding: 30px;
  text-align: center;
}
.mission-deatls-2 {
  text-align: left;
  background-color: rgb(224, 222, 193);
  border-radius: 15px;
  margin: 30px;
  padding: 30px;
  text-align: center;
}
.mission-deatls-3 {
  text-align: left;
  background-color: rgb(202, 199, 223);
  border-radius: 15px;
  margin: 30px;
  padding: 30px;
  text-align: center;
}
.mission p {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}
.hard-work {
  display: flex;
  text-align: center;
  margin-bottom: 100px;
}
.hw-container-left {
  width: 30%;
  padding: 10px 0 80px 30px;
  margin-left: 150px;
}
.hw-container-right {
  width: 50%;
  padding: 50px 30px 30px 30px;
  margin-right: 100px;
  margin-left: 10px;
  text-align: left;
}
.hw-container-title {
  font-size: 50px;
  margin-bottom: 2px;
  font-family: "Baloo Bhai 2", cursive;
  margin-top: 0px;
}
.hw-container-right p {
  margin-bottom: 35px;
  padding-right: 120px;
}
.hw-button {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  font-size: 22px;
  background-color: rgb(248, 176, 43);
  font-family: "Baloo Bhai 2", cursive;
}
.hw-button:hover {
  background-image: linear-gradient(rgb(255, 166, 2), rgb(119, 117, 117));
}
.team {
  display: flex;
  margin-bottom: 80px;
}
.team-left {
  width: 60%;
  padding-top: 80px;
  padding-left: 200px;
  padding-right: 50px;
  margin-left: 0px;
}
.team-right {
  width: 40%;
  padding-top: 0px;
}
.team-left p {
  padding-top: 15px;
  padding-right: 80px;
  padding-bottom: 20px;
}
.extra-task {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
}

.skills {
  font-size: large;
  width: 45%;
  padding-top: 120px;
  margin-right: 50ox;
}
.project {
  font-size: xx-large;
  width: 55%;
  text-align: center;
  padding: 20px;
  margin-left: 100px;
}
#project-title {
  margin-bottom: 0;
}
.project-img {
  display: flex;
  padding: 30px 10px 10px 10px;
  text-align: center;
}
.project h1 {
  margin-bottom: 20px;
  font-family: "Teko", sans-serif;
}
#project-1 {
  padding: 10px;
  box-shadow: 10px 10px 30px rgb(46, 45, 45);
  margin-right: 25px;
  margin-left: 22px;
}
#project-2 {
  padding: 10px;
  box-shadow: 10px 10px 30px rgb(46, 45, 45);
  margin-left: 25px;
}
.project-name {
  font-size: large;
  font-family: "Baloo Bhai 2", cursive;
}

.last-container {
  /* display: flex; */
  margin-bottom: 150px;
  text-align: center;
}
.last-container h1 {
  font-family: "Baloo Bhai 2", cursive;
}
.last-container h3 {
  font-family: "Baloo Bhai 2", cursive;
}
.social-media {
  text-align: center;
  margin-bottom: 2px;
}
.social-media h3 {
  margin-bottom: 0px;
}
.get-in-touch {
  text-align: center;
  margin-top: 0;
}
.get-in-touch h1 {
  margin-bottom: 0;
  font-size: 40px;
}
.form {
  padding: 0px 20px;
  margin-top: 0;
}
.form input {
  border: 3px solid black;
  border-radius: 12px;
  padding: 10px 100px;
  font-size: 20px;
  text-align: center;
}
.form textarea {
  border: 3px solid black;
  border-radius: 12px;
  font-size: 17px;
}
.form-group {
  padding: 10px;
}
#send-button {
  background-color: black;
  color: white;
  border: none;
  margin-top: 10px;
}
#send-button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(128, 63, 63), rgb(0, 0, 0));
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 0px;
}
.footer-txt {
  font-size: 50px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 10px;
}
footer span {
  color: rgb(248, 176, 43);
}
